/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	box-sizing: border-box;
	background: #FFF2EC;
	color: #333333;
	font-family: sans-serif;
}

header {
	height: 10vh;
	background: #FFF2EC;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	padding: 0 5%;
	line-height: 10vh;
}

h1 {
	font-size: 1.6em;
	float: left;
}

h2 {
	font-size: 1.6em;
	margin: 1.2em 0;
}

.help-container {
	margin: 0 auto;
	width: 90%;
}

button {
	background: none;
	border: none;
	float: right;
	height: 10vh;
	outline: none;
}

p {
	line-height: 1.6em;
}

ul {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: stretch;
	margin: 0 auto;
	width: 90%;
	height: 90vh;
}

li {
	text-tansform: uppercase;
	text-align: center;
	font-weight: bold;
	background: #FFB99B;
	height: 50px;
	line-height: 50px;
}